# Trabajo Final

- Base de datos
1. Microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
M칩dulo 4 (Salud) y m칩dulo 5 (Empleo e Ingresos) del a침o 2020.

## Importar las bases de datos

In [ ]:
import pandas as pd
enaho04 = pd.read_csv("Enaho01a-2020-400.csv",encoding = "latin-1")
enaho04.columns= enaho04.columns.str.lower()

C:\Users\LENOVO\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (12,13,14,15,32,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,92,94,101,102,103,104,105,106,107,108,117,121,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,1044,1045,1049) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
sumaria = pd.read_csv("Sumaria-2020.csv",encoding = "latin-1")
sumaria.columns = sumaria.columns.str.lower()
sumaria

,a침o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,linea,pobreza,tipocuestionario,tipoentrevista,factor07,nconglome,sub_conglome,lineav_rpl,lineav,pobrezav
0,2020,1,5009,12,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,560.468506,4
1,2020,1,5009,41,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,553.731506,4
2,2020,1,5009,98,11,10101,4,4,6,6,...,303.520996,3,0,1,149.202744,7076,0,657,547.194031,3
3,2020,1,5015,7,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,556.025330,4
4,2020,1,5015,19,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.312134,4
34486,2020,12,20305,52,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,642.814026,4
34487,2020,12,20305,73,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.782898,4
34488,2020,12,20305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,643.160034,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,639.233521,3

## Dimensiones

In [ ]:
enaho04.shape      # (120346, 1052)
sumaria.shape      # (34490, 179)

(34490, 179)

In [ ]:
##

Las variables de la ENAHO que necesitamos 
- Qued칠monos con las variables ``` CONGLOME VIVIENDA HOGAR POBREZA UBIGEO``` de la sumaria. 
- Qued칠monos con las variables ``` CONGLOME VIVIENDA P4026 UBIGEO ``` del m칩dulo de salud.

 
Cada una de las variables son:

- POBREZA: Pobreza monetaria seg칰n la l칤nea de pobreza.
- P4026: Si se presenta un s칤ntoma de covid
- UBIGEO: C칩digo de 6 d칤gitos que indica el distrito de pertenencia de la persona. 

CONGLOME, VIVIENDA y HOGAR son los identificadores 칰nicos a nivel de hogar (como un key id).

In [ ]:
sumaria = sumaria[['conglome','vivienda','hogar','pobreza','ubigeo']]
enaho04 = enaho04[['conglome','vivienda','hogar','p4026']]

## Modificar la variable pobreza

La variable de `pobreza`, en la sumaria, est치 codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre

In [ ]:
sumaria["pobreza3"] = sumaria.pobreza.replace({1:"pobre extremo",2:"pobre no extremo",3:'no pobre'})
sumaria

<ipython-input-9-f84975c17c76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumaria["pobreza3"] = sumaria.pobreza.replace({1:"pobre extremo",2:"pobre no extremo",3:'no pobre'})

       conglome  vivienda  hogar  pobreza  ubigeo  pobreza3          pobreza2
0          5009        12     11        3   10101  no pobre  pobre no extremo
1          5009        41     11        3   10101  no pobre  pobre no extremo
2          5009        98     11        3   10101  no pobre  pobre no extremo
3          5015         7     11        3   10101  no pobre  pobre no extremo
4          5015        19     11        3   10101  no pobre  pobre no extremo
...         ...       ...    ...      ...     ...       ...               ...
34485     20305        31     11        3  250301  no pobre  pobre no extremo
34486     20305        52     11        3  250301  no pobre  pobre no extremo
34487     20305        73     11        3  250301  no pobre  pobre no extremo
34488     20305       116     11        3  250301  no pobre  pobre no extremo
34489     20305       137     11        3  250301  no pobre  pobre no extremo

[34490 rows x 7 columns]

## EXPLORACI칍M DE LA VARIABLE P4026, QUE MUESTRA SI UNA persona tuvo sintomas de covid

In [ ]:
# 1 : sintomas de covid
# 0: no tiene sintomas

In [ ]:
enaho04.p4026.value_counts()

0    61970
0    28708
     27424
1     1544
1      700
Name: p4026, dtype: int64

In [ ]:
enaho04["p4026"] = enaho04.p4026.replace({1:"posible contagiado",0:"no contagiado"})
enaho04

        conglome  vivienda  hogar          p4026
0           5009        12     11
1           5009        12     11
2           5009        41     11
3           5009        41     11
4           5009        98     11
...          ...       ...    ...            ...
120341     20305       116     11  no contagiado
120342     20305       137     11  no contagiado
120343     20305       137     11  no contagiado
120344     20305       137     11  no contagiado
120345     20305       137     11  no contagiado

[120346 rows x 4 columns]

# MERGE DE LAS 2 BASES

In [ ]:
merge = pd.merge(sumaria, enaho04, on=['conglome','vivienda','hogar'], how='inner')
merge

,conglome,vivienda,hogar,pobreza,ubigeo,pobreza3,pobreza2,p4026
0,5009,12,11,3,10101,no pobre,pobre no extremo,
1,5009,12,11,3,10101,no pobre,pobre no extremo,
2,5009,41,11,3,10101,no pobre,pobre no extremo,
3,5009,41,11,3,10101,no pobre,pobre no extremo,
4,5009,98,11,3,10101,no pobre,pobre no extremo,
...,...,...,...,...,...,...,...,...
120341,20305,116,11,3,250301,no pobre,pobre no extremo,no contagiado
120342,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120343,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120344,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120345,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado

In [ ]:
a2 = sumaria.groupby(["pobreza3"]).agg({'inghog2d':'mean'})
a2

                      inghog2d
pobreza3
no pobre          32014.094308
pobre extremo      9980.110857
pobre no extremo  15565.160905

8. 춰Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el n칰mero  de filas de ambas bases de datos son las mismas (acu칠rdate que filtramos las observaciones por `result`).  La ENAHO recolecta informaci칩n de estos 34,490 hogares a trav칠s de todos sus m칩dulos. Para utilizar estos m칩dulos a la vez, realizaremos una "uni칩n" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [ ]:
merge = pd.merge(sumaria, vivienda, on=['conglome','vivienda','hogar'], how='inner')
merge

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,diferencia,pobreza3,pobreza2,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5009,12,11,2,2,3,25065.796875,37274.425781,10101,0,12208.628906,no pobre,pobre no extremo,1,0,0,0,0,0
1,5009,41,11,2,2,3,28650.019531,41967.570312,10101,0,13317.550781,no pobre,pobre no extremo,1,0,0,0,0,0
2,5009,98,11,6,4,3,38136.218750,42292.535156,10101,2,4156.316406,no pobre,pobre no extremo,1,0,0,0,0,0
3,5015,7,11,4,3,3,26812.154297,37866.210938,10101,1,11054.056641,no pobre,pobre no extremo,1,0,0,0,0,0
4,5015,19,11,4,3,3,63311.539062,91681.960938,10101,1,28370.421875,no pobre,pobre no extremo,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,20305,31,11,1,1,3,12997.472656,14227.951172,250301,0,1230.478516,no pobre,pobre no extremo,1,0,0,0,0,0
34486,20305,52,11,1,1,3,10690.595703,11442.000000,250301,0,751.404297,no pobre,pobre no extremo,1,0,0,0,0,0
34487,20305,73,11,1,1,3,11576.803711,12847.000000,250301,0,1270.196289,no pobre,pobre no extremo,1,1,0,0,0,0
34488,20305,116,11,4,1,3,23779.029297,21009.353516,250301,3,-2769.675781,no pobre,pobre no extremo,1,0,0,0,0,0
34489,20305,137,11,4,2,3,16872.869141,19822.650391,250301,2,2949.781250,no pobre,pobre no extremo,1,0,0,0,0,0

## CREACI칍N DE LA VARAIBLE DEPARTAMENTO

In [ ]:
merge["ubigeo_2"] = merge["ubigeo"].astype(str)
merge["departamento"] =  merge["ubigeo_2"].apply(lambda x: x[0:2] if len(x)>5 else x[0:1])
merge["Departamento"] = merge.departamento.replace({"1":"Amazonas","2": "Ancash","3": "Apurimac","4": "Arequipa", "5":"Ayacucho", 
                                                    "6":"Cajamarca", "7":"Callao","8": "Cusco","9":"Huancavelica","10":"Huanuco",
                                                    "11":"Ica","12":"Jun칤n", "13":"La Libertad", "14":"Lambayeque","15":"Lima", 
                                                    "16":"Loreto", "17": "Madre de Dios", "18": "Moquegua", "19":"Pasco","20": "Piura", 
                                                    "21": "Puno", "22": "San Mart칤n", "23": "Tacna", "24": "Tumbes", "25":"Ucayali"})
merge

,conglome,vivienda,hogar,pobreza,ubigeo,pobreza3,pobreza2,p4026,ubigeo_2,departamento,Departamento
0,5009,12,11,3,10101,no pobre,pobre no extremo,,10101,1,Amazonas
1,5009,12,11,3,10101,no pobre,pobre no extremo,,10101,1,Amazonas
2,5009,41,11,3,10101,no pobre,pobre no extremo,,10101,1,Amazonas
3,5009,41,11,3,10101,no pobre,pobre no extremo,,10101,1,Amazonas
4,5009,98,11,3,10101,no pobre,pobre no extremo,,10101,1,Amazonas
...,...,...,...,...,...,...,...,...,...,...,...
120341,20305,116,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,25,Ucayali
120342,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,25,Ucayali
120343,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,25,Ucayali
120344,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,25,Ucayali
120345,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,25,Ucayali

In [ ]:
## AGRUPACI칍N DE VARIABLES X DEPARTAMENTO x nivel de pobreza

In [ ]:
a2 = merge.groupby(["Departamento","pobreza3"]).agg({'p4026':['count']})
a2

                              p4026
                              count
Departamento pobreza3
Amazonas     no pobre          2744
             pobre extremo      354
             pobre no extremo  1222
Ancash       no pobre          3663
             pobre extremo      252
...                             ...
Tumbes       pobre extremo       73
             pobre no extremo   697
Ucayali      no pobre          3634
             pobre extremo      200
             pobre no extremo   772

[75 rows x 1 columns]

In [ ]:
## AGRUPACI칍N DE VARIABLES X DEPARTAMENTO

In [ ]:
a2 = pd.DataFrame(merge.groupby("Departamento")['p4026'].count().rename("Cantidad"))
a2.reset_index(inplace=True)
a2

     Departamento  Cantidad
0        Amazonas      4320
1          Ancash      5223
2        Apurimac      3191
3        Arequipa      5339
4        Ayacucho      3887
5       Cajamarca      4589
6          Callao      3667
7           Cusco      4278
8    Huancavelica      3609
9         Huanuco      4417
10            Ica      4994
11          Jun칤n      4978
12    La Libertad      5645
13     Lambayeque      5424
14           Lima     15543
15         Loreto      6702
16  Madre de Dios      2068
17       Moquegua      2871
18          Pasco      3152
19          Piura      6616
20           Puno      3576
21     San Mart칤n      4678
22          Tacna      4105
23         Tumbes      2868
24        Ucayali      4606

In [ ]:
#pip install altair vega_datasets
import altair as alt

In [ ]:
alt.Chart(a2).mark_bar().encode(alt.Y("Cantidad"),alt.X("Departamento")).properties(
    title='Cantidad de peruanos con sintomas de Covid en el 2020'
)

alt.Chart(...)